version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: boats-manager
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:boatsdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      - SPRING_H2_CONSOLE_ENABLED=true
    volumes:
      - ./frontend:/app/frontend
      - ./backend:/app/backend
    working_dir: /app
    command: >
      sh -c "cd /app/frontend && 
             npm install && 
             npm run build && 
             cd /app/backend && 
             ./mvnw spring-boot:run"

networks:
  boats-network:
    driver: bridge
