server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:boatsdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  web:
    resources:
      static-locations: classpath:/static/


logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.servlet: TRACE
    org.springframework.boot.autoconfigure.web: DEBUG
    org.springframework.boot.web.servlet: DEBUG

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
